<?xml version="1.0" encoding="UTF-8" ?>
<log4net debug="true">
	<!-- EasyConsoleAppender is set to be a ConsoleAppender -->
    <appender name="EasyConsoleAppender" type="log4net.Appender.ConsoleAppender">
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern value="%-4timestamp [%thread] %-5level %logger %ndc - %message%newline" />
        </layout>
    </appender>

	<root>
		<level value="INFO" />
		<appender-ref ref="EasyConsoleAppender" />
	</root>
</log4net>
