<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <!-- add your targets here

    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" name="logfile" fileName="${shortdate}.log"
            layout="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=ToString,StackTrace} ${newline}" />
    </target>

   <target xsi:type="Console" name="console"
		layout="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=ToString,StackTrace} ${newline}" />

    -->
    <target xsi:type="LogReceiverService"
      name="remoteLog"
      endpointAddress="http://gumartinm.name/Design_Time_Addresses/MyLogReceiverApp/LogReceiverServer/"
      useBinaryEncoding="false"
      clientId="remoteagents_wp8"
      includeEventProperties="true">
      <parameter layout="${longdate} ${uppercase:${level}} ${callsite} ${message} ${exception:format=ToString,StackTrace} ${newline}" />
    </target>

  </targets>

  <rules>
    <!-- add your logging rules here -->
    
    <!--
    <logger name="*" minlevel="Info" writeTo="asyncFile" />
    <logger name="*" minlevel="Info" writeTo="console" />
    -->
    <logger name="*" minlevel="Info" writeTo="remoteLog" />

  </rules>
</nlog>