<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.3.13.2" targetFramework="net45" />
  <package id="AWSSDK.SQS" version="3.3.2" targetFramework="net45" />
  <package id="NLog" version="4.4.8" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.8" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.8" targetFramework="net461" />
</packages>